aws_profile      = "intern-deploy"
region           = "ap-southeast-2"
project_name     = "intern-api"
owner            = "austin-nguyen"
instance_type    = "t3.micro"
key_name         = "intern-day15"
allowed_ssh_cidr = "42.117.192.250/32"
image_uri        = "docker.io/YOUR_DOCKERHUB_USER/intern-api:day15"
jwt_secret       = "replace-with-a-training-secret-at-least-32-bytes"
